@font-face {
  font-family: "sf-pro-regular";
  src: url(font/sf-pro/sf-pro-regular.OTF);
}
@font-face {
  font-family: "space-tech-italic";
  src: url(font/space-tech/space-tech-italic.ttf);
}

* {
  font-family: "sf-pro-regular", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

h1 span {
  float: left;
  color: #fff;
  position: relative;
}

/* h1 span::before {
  content: "";
  height: 30px;
  width: 2px;
  position: absolute;
  top: 50%;
  right: -8px;
  background: #fff;
  transform: translateY(-45%);
  animation: blink 0.7s infinite;
} */

/* h1 span.stop-blinking::before {
  animation: none;
} */

/* @keyframes blink {
  50% {
    opacity: 0;
  }
} */
